<!DOCTYPE html>
<html lang="ko">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, shrink-to-fit=no"
    />

    <!-- Bootstrap CSS -->
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/css/bootstrap.min.css"
      integrity="sha384-B0vP5xmATw1+K9KRQjQERJvTumQW0nPEzvF6L/Z6nronJ3oUOFUFpCjEUQouq2+l"
      crossorigin="anonymous"
    />
    <!-- JS -->
    <script
      src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
      integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js"
      integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN"
      crossorigin="anonymous"
    ></script>

    <!-- 구글폰트 -->
    <link
      href="https://fonts.googleapis.com/css?family=Stylish&display=swap"
      rel="stylesheet"
    />

    <title>Just Memo Note</title>

    <!-- style -->
    <style type="text/css">
      * {
        font-family: 'Stylish', sans-serif;
      }

      .hide {
        display: none;
      }

      .wrap {
        width: 900px;
        margin: auto;
      }

      .card-btn-container {
        display: flex;
        justify-content: flex-end;
      }

      .card-btn {
        display: block;
        margin-right: 8px;
        font-size: 12px;
        padding: 5px 10px;
      }

      .card-btn-container > .card-btn:last-child {
        margin-right: 0px;
      }

      #post-box {
        width: 500px;
        margin: 20px auto;
        padding: 50px;
        border: black solid;
        border-radius: 5px;
      }

      .box-title {
          color :green;
          font-weight: bold;
          font-size : 18px;
      }

      .box-body {
          color : black;
          font-weight:normal;
          font-size : 12px;
      }
    </style>
    <script>
      // 기존 프로젝트에서 request에 해당하는 부분. fetch로 서버에 req 보냄.
      const customFetch = (url, option = {}) => {
        const useApplicationHeader = ['POST', 'PUT'];
        return fetch(url, {
          ...option,
          headers: {
            ...(useApplicationHeader.includes(option.method) && {
              'Content-Type': 'application/json',
            }),
            ...option.headers,
          }, // ...연산자에서 && 사용해서 부울린값으로 False이면 Undefinde 되어서 처리안함. False 아니면 써놓은 값대로 처리.
          ...(option.body && {
            body: JSON.stringify(option.body),
          })
        }).then(res => res.json());
      }

      // 기존 TODOLIST 스크립트랑 비슷
      class Memo {
        memos = [];

        init() {
          this.$wrap = document.querySelector('.wrap');
          this.$postBox = document.querySelector('#post-box');
          this.$cardsBox = document.querySelector('#cards-box');
          this.initEvent();
          this.fetchMemos();
        }

        // 전체 출력
        fetchMemos() {
          // FetchMemos 출력 시 customFetch 호출 ->프로미스로 성공시 setMemos 호출
          customFetch('/memos').then(({ memos })=> this.setMemos(memos));
        }

        // 전체 출력시 호출됨. rednerMemos 호출
        setMemos(memos) {
          // memos로 받은 
          this.memos = memos;
          this.renderMemos();
        }
        
        // SetMemos에 의해 호출됨. 테두리만 그려주는 역할.
        renderMemos() {
          const result = this.memos.map(memo => `
            <div class="card" data-id=${memo._id}>
              ${this.renderMemo(memo)}
            </div>`
          ).join('');
          this.$cardsBox.innerHTML = result;
        }

        renderMemo({ _id, title, body}) {
          return `
              <div class="card-body">
                <p class="box-title">${title}</p>
                <p class="box-body">${body}</p>
                <div class="card-btn-container">
                  <button type="button" class="btn btn-primary card-btn" data-role="edit-item">수정</button>
                  <button type="button" class="btn btn-danger card-btn" data-role="delete-item">삭제</button>
                </div>
              </div>`;
        }

        initEvent() {
          // 문서 전체를 범위로 잡아버림.
          document.addEventListener('click', this.handleClickEvents);
          // postBox (#post-box라는 아이디값 기준)으로 찾아서 submit(버튼)실행 시 handleSubmitEvents 실행.
          this.$postBox.addEventListener('submit', this.handleSubmitEvents);
          // (#cards-box)라는 아이디를 찾아서 거기서 submit(버튼) 실행 시 handleEditEvents 실행
          this.$cardsBox.addEventListener('submit', this.handleEditEvents)
        }

        // 수정할 시 특정 id만 출력
        fetchMemo(id) {
          // FetchMemo 출력 시 customFetch 호출 -> 프로미스 성공시 SetMemo 호출(수정 시)
          customFetch(`/memos/${id}`).then(({ memo })=> this.setMemo(memo));
        }

        // 수정할 시 특정 id값만을 가진채로 출력됨.
        setMemo(memo) {
          // 이 부분에서 m이 기존값. memo._id(부여받은 id)가 m._id(기존 id값)과 동일하면 memo, 아니면 m값으로 처리.
          this.memos = this.memos.map(m => m._id === memo._id ? memo : m);
          // 갱시해야할 부분의 _id값은 부여받은 memo값을 기준으로 해야하기 때문에 선정
          const {_id} = memo
          // `[data-id="${_id}"]`라는 껍데기부분을 수정해야하므로 이걸 찾는 부분. 찾으면 renderMemo(memo)호출
          this.$cardsBox.querySelector(`[data-id="${_id}"]`).innerHTML = this.renderMemo(memo);
        }

        handleClickEvents = (event) => {
          const { target } = event;
          console.log(target);
          const {role} = target.dataset;
          console.log(role)
          switch (role) {
            case 'toggle-box':
              this.togglePostBox();
              break;
            case 'delete-item':
              this.handleClickDelete(target);
              break;
            case 'edit-item':
              this.handleClickEdit(target);
              break;
            case 'cancel-edit':
              this.handleClickCancelEdit(target);
              break;
            default:
              
            // do nothing
          }
        };

        handleSubmitEvents = (event) => {
          event.preventDefault();
          const {target} = event
          const formData = new FormData(target);

          customFetch(`/memos`, {method: 'POST', body: {
            body: formData.get('body'),
            title: formData.get('title'),
          }}).then(() => {
            alert('저장되었습니다.');
            this.togglePostBox();
            this.fetchMemos();
          })
        }

        handleEditEvents = (event) => {
          event.preventDefault();
          const {target} = event
          const $card = target.closest('.card');
          const id = $card.dataset.id;
          const formData = new FormData(target);

          customFetch(`/memos/${id}`, {method: 'PUT', body: {
            body: formData.get('body'),
            title: formData.get('title'),
          }}).then(() => {
            alert('수정되었습니다.');
            this.fetchMemo(id);
          })
        }

        handleClickDelete = (target) => {
          const $card = target.closest('.card');
          const id = $card.dataset.id;
          customFetch(`/memos/${id}`, {method: 'DELETE'}).then(() => {
            alert('삭제되었습니다.');
            this.fetchMemos();
          })
        }

        handleClickEdit = (target) => {
          const $card = target.closest('.card');
          const id = $card.dataset.id;
          const memo = this.memos.find(memo => memo._id === id);
          $card.innerHTML = this.renderEditMemo(memo);
        }

        handleClickCancelEdit = (target) => {
          const $card = target.closest('.card');
          const id = $card.dataset.id;
          const memo = this.memos.find(memo => memo._id === id);
          $card.innerHTML = this.renderMemo(memo);
        }

        togglePostBox() {
          const $postBox = this.$wrap.querySelector('#post-box');
          $postBox.classList.toggle('hide');
        }


        renderEditMemo({ _id, title, body}) {
          return `
          <form class="form-post">
            <div class="card-body">
              <div class="form-group">
                <label for="post-title" class="box-title">제목</label>
                <input name="title"  class="form-control" placeholder="" value="${title}"/>
              </div>
              <div class="form-group">
                <label for="post-body" class="box-body">내용</label>
                <textarea
                  name="body"
                  class="form-control"
                  rows="2"
                >${body}</textarea>
              </div>
              <div class="card-btn-container">
                <button type="submit" class="btn btn-primary card-btn" >저장</button>
                <button type="button" class="btn btn-danger card-btn" data-role="cancel-edit">취소</button>
              </div>
            </div>
          </form>`;
        }
      }

      const memo = new Memo();

      window.onload = () => {
        memo.init();
      };
    </script>
  </head>

  <body>
    <div class="wrap">
      <div class="jumbotron">
        <h1 class="display-4">Just Memo Note</h1>
        <p class="lead">
          아무거나 적는 메모장입니다.
        </p>
        <hr class="my-4" />
        <p class="lead">
          <button data-role="toggle-box" type="button" class="btn btn-primary">
            포스팅 박스 열기
          </button>
        </p>
      </div>
      <form id="post-box" class="form-post hide">
        <div>
          <div class="form-group">
            <label for="post-title">제목</label>
            <input name="title" id="post-title" class="form-control" placeholder="" />
          </div>
          <div class="form-group">
            <label for="post-comment">기재할 내용</label>
            <textarea
              name="body"
              id="post-body"
              class="form-control"
              rows="2"
            ></textarea>
          </div>
          <button type="submit" class="btn btn-primary">내용저장</button>
        </div>
      </form>
      <div id="cards-box" class="card-columns"></div></div>
    </div>
  </body>
</html>
